.tiles{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    gap: 2vw;
}
.tile{
    border:1px solid black;
    background-color: rgb(51, 51, 236);
    border-radius: 5px;
    height: 6vw; /* Responsive height */
    width: 6vw;
    min-width:40px ;
    min-height: 40px;
    font-size: clamp(1.5em, 4vw,4vw);
}
.num{
    font-size: 1em;
    font-weight: 500; 
    user-select: none;   
}
.selected{
    background-color:aquamarine;
}
.won{
    background-color: rgb(208, 45, 45);
}

/* Spinning animation */

.tile {
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.tile.clicked {
    background-color: transparent;
    transform: rotateY(180deg); 
}

.tile.clicked img {
    opacity: 1;
}

